body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    background-color: #f0f0f0;
}

#app-container {
    text-align: center;
}

h1 {
    margin: 10;
    font-size: 3.5rem;
}

.tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cell:hover {
    background-color: rgba(83, 83, 83, 0.353);
}
